body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;

  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/index/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  background-color: #f9f6f3;
  background-image: url("../img/catalog/background-main.jpg");
  background-position: 0 0;
  background-repeat: repeat;

  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

a.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* ------Сеточные стили------ */

.main-header {
  margin-bottom: 75px;

  min-height: 285px;
}

.entrance-page .main-header,
.inner-page .main-header {
  margin-bottom: 60px;
  background-color: #000000;
  min-height: 72px;
}

.main-header-logo {
  width: 371;
  height: 155;
  order: 2;
}

.entrance-page .main-header-logo,
.inner-page .main-header-logo {
  order: 0;

  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.entrance-page .user-navigation,
.inner-page .user-navigation {
  margin-left: auto;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entrance-page .main-nav,
.inner-page .main-nav {
  align-items: flex-start;
  flex-direction: row;
}

.main-nav-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
}

.main-container {
  width: 940px;
  margin: 0 auto;
}

.advantages {
  min-height: 170px;
  padding: 0;
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
}

.advantages-item {
  min-height: 170px;
  width: 300px;
}

.index-columns {
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.news {
  min-height: 315px;
  width: 380px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
}

.footer-contacts {
  min-height: 100px;

  margin: 0;
  width: 320px;
  margin-right: 80px;
}

.footer-social {
  min-height: 100px;

  margin: 0;
  width: 145px;
}

.footer-copyright {
  min-height: 100px;

  margin: 0;
  width: 150px;
  margin-left: auto;
}

.footer-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  min-height: 24px;

  display: flex;
}

.shell {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.catalog-item {
  width: 220px;
  min-height: 285px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-price {
  display: flex;
}

.pagination {
  display: flex;
  justify-content: center;
  min-height: 47px;
}

.availability-article-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.inner-page .main-footer {
  margin-top: 45px;
}

.main-content {
  width: 100%;
  display: flex;
  margin-bottom: 49px;
}

.product-pfotos {
  width: 460px;
}

.product-foto-preview {
  display: flex;
  justify-content: space-between;
}

.product-info {
  width: 379px;
  margin-left: 90px;
}

.main-content-barbershop-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.additional-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-contacts {
  display: flex;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
}

.login-password-info {
  display: flex;
  justify-content: space-between;
}
.heading {
  display: flex;
}

/* Разметка главной страницы, основной части */
.main-nav {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;

  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 18px;

  background-image: url("../img/index/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.current {
  border-bottom: 4px solid #ffffff;
}

.advantages {
  list-style: none;
}

.advantages-item {
  text-align: center;
}

.advantages-item h3 {
  font-size: 30px;
  line-height: 42px;

  margin: 0;
  margin-bottom: 60px;

  position: relative;
}

.advantages-item h3::after {
  content: "";

  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}

.advantages-item p {
  font-size: 14px;
  line-height: 24px;
  margin: 0 10px;
}

.index-columns {
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/index/Декоративная\ прямая.jpg"),
    url("../img/index/index-columns.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 25px;
}

.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.news-item time {
  text-transform: none;
}

.news-item p {
  margin: 0;
}

.news-item {
  margin-bottom: 25px;
}

.gallery {
  width: 300px;
}

.gallery-container {
  height: 260px;

  position: relative;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;

  margin: 0;
  height: 164px;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery-button {
  box-sizing: border-box;
  position: absolute;

  width: 140px;
  margin: 0;
  bottom: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
  width: 300px;
}

.appointment-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.appointment-item {
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-item input {
  font: inherit;
  border: 2px solid #000000;
  background-color: transparent;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  width: 140px;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment .button {
  display: block;
  width: 100%;
  margin: 0;
}

/* Стили для каталога */

.page-title {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  min-height: 42px;
}

.breadcrumbs,
.list-manufacturers,
.list-product-group,
.catalog-list,
.pagination {
  list-style: none;
}

.breadcrumbs li {
  margin-right: 45px;
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  bottom: 30%;
  right: -27px;
  transform: rotate(45deg);
}

.list-manufacturers,
.list-product-group,
.catalog-list,
.pagination {
  padding: 0;
  margin: 0;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

li.breadcrumbs-current a {
  color: #aba9a7;
}

li.breadcrumbs-current {
  color: #aba9a7;
}

.product-filter fieldset {
  padding: 0;
  margin: 0;
}

.filter-parameters {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 34px;
}

.filters {
  width: 180px;
  min-height: 687px;
}

.filters fieldset {
  border: none;
  padding: 0;
  padding: 0;
  margin-bottom: 50px;
}

.catalog {
  width: 700px;
  min-height: 687px;
}

.catalog-item a {
  color: #000000;
}

.filters ul {
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.manufacturer:not(:last-child),
.product-group:not(:last-child) {
  margin-bottom: 17px;
}

.manufacturer,
.product-group {
  padding-left: 42px;

  position: relative;
}

label input[type="checkbox"]+.checkbox-indicator {
  display: block;
  width: 20px;
  height: 20px;

  border: 2px solid #000101;

  position: absolute;
  top: -3px;
  left: 0;

  cursor: pointer;
}

.manufacturer label:hover,
.product-group label:hover {
  color: #663d15;
  cursor: pointer;
}

label input[type="checkbox"]:disabled~.name-manufacturer,
label input[type="radio"]:disabled~.name-product-group {
  color: #aba9a7;
}

label input[type="checkbox"]:disabled+.checkbox-indicator {
  border-color: #aba9a7;
}

label input[type="checkbox"]:checked+.checkbox-indicator::before,
label input[type="checkbox"]:checked+.checkbox-indicator::after {
  content: "";

  width: 19px;
  height: 2px;

  background-color: #000101;
  position: absolute;
  top: 9px;
  left: 1px;
}

label input[type="checkbox"]:checked+.checkbox-indicator::before{
  transform: rotate(45deg);
}

label input[type="checkbox"]:checked+.checkbox-indicator::after{
  transform: rotate(-45deg);
}

label input[type="radio"]+.radio-indicator {
  display: block;
  width: 20px;
  height: 20px;

  border: 2px solid #000101;
  border-radius: 50%;

  position: absolute;
  top: -1px;
  left: 0;

  cursor: pointer;
}

label input[type="radio"]:disabled+.radio-indicator {
  border-color: #aba9a7;
}

label input[type="radio"]:checked+.radio-indicator::before {
  content: "";

  border: 4px solid #000101;
  border-radius: 50%;

  position: absolute;
  top: 6px;
  left: 6px;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  box-sizing: border-box;
}

.catalog-item p {
  margin: 0;
}

.catalog-item h3,
.catalog-item-price {
  padding: 0 16px 16px;
  margin: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item-price a {
  color: #ffffff;
}

.catolog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;

  box-sizing: border-box;
  width: 109px;
  padding: 10px;
}

.catalog-item .button {
  line-height: 20px;
  margin: 0;
  padding: 10px;
  flex-grow: 1;
}

.pagination-item {
  background-color: #000000;

  width: 43px;
  height: 43px;
  box-sizing: border-box;
  margin-right: 7px;
  text-align: center;
  padding-top: 10px;
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
  background-color: #663d15;
}

.pagination-item-current {
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #000000;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #ffffff;

  color: #000000;
}

/* Стили для страницы каталога */

.product-foto-preview {
  list-style: none;
  padding: 0;
}

.article-product {
  text-align: right;
  color: #aeaeae;
}

.product-foto-full {
  margin: 0;
  margin-bottom: 20px;
}

.product-foto-full li,
.product-foto-preview li {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-foto-preview li {
  width: 140px;
}

.product-description {
  margin-bottom: 65px;
}

.product-description p {
  margin-bottom: 40px;
}

.product-description .catalog-item-price {
  padding: 0;
}

.set-composition h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 35px;
}

.set-list {
  padding: 0;
  list-style: none;
}

.set-list li {
  position: relative;
  padding-left: 20px;
}

.set-list li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  bottom: 31%;
  left: 0;
  transform: rotate(45deg);
}

/* Стили для страницы входа */

.entrance-page {
  background-color: #000000;
  background-image: url("../img/index/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.user-navigation li disabled {
  color: #aeaeae;
}

.personal-area {
  background-color: #f9f6f3;
  background-image: url("../img/catalog/background-main.jpg");
  background-position: 0 0;
  background-repeat: repeat;

  color: #000000;
  text-align: center;

  width: 460px;
  padding: 50px 80px 58px;
  margin: 0 auto;
}

.modal.modal-login.entrance-page {
  position: relative;
  top: 0;
  margin: 0;
} 

/* Стили для Barbershop-price */

.heading::before,
.heading::after {
  content: "";
  width: 160px;
  height: 2px;
  background-color: #000000;

  position: relative;
  top: 25px;
}

.heading::before {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  margin-right: 26px;
}

.heading::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 26px;
}

.section-title {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin: 0 0 74px;
}

.straight {
  width: 1200px;
  height: 863px;
}

.main-content-barbershop-price h3,
.additional-information h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 39px;
}

.information h3 {
  margin-bottom: 40px;
}

.material-list {
  padding: 0;
  margin: 0;
}

.material-list li {
  list-style: none;
  position: relative;
  padding-left: 20px;
}

.material-list li:not(:last-child) {
  margin-bottom: 15px;
}

.material-list li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000000;
  bottom: 31%;
  left: 0;
  transform: rotate(45deg);
}

.service-prices {
  border-collapse: collapse;
  border: 2px solid #000101;
}

.service-prices td {
  width: 231px;
  height: 43px;
  border: solid 2px #000101;
  padding-left: 19px;
  box-sizing: border-box;
}

.service-prices-row td:last-child {
  text-align: center;
}

.materials-for-work {
  width: 238px;
  min-height: 213px;
}

.additional-information h3 {
  width: 100%;
}

.additional-information p {
  width: 379px;
  margin: 0 0 14px;
}

.additional-information p:first-child {
  margin-right: 100px;
}

/* Стили для подвала */

.main-footer {
  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/index/footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.footer-social ul {
  padding: 0;
}

.footer-social li {
  list-style: none;
}

.social-button {
  display: flex;
  color: #ffffff;
  width: 43px;
  height: 43px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;
  background-color: #ffffff;
}

/* Стили для модальных окон */

.modal {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("../img/index/index-columns.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0px 30px 50px 0 rgba(0, 1, 1, 0.75);
}

.modal-login {
  width: 460px;
  padding: 50px 80px;
  margin: 0 auto;

  box-sizing: border-box;

  background-color: #f8f3f0;
  background-image: url("../img/index/index-columns.jpg");
  background-position: 0 0;
  background-repeat: repeat;

  display: none;
}

.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 28px;
}

.modal-login p {
  margin: 20px 0;
}

.login-form [type="text"],
.login-form [type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 28px;
  position: relative;
  padding-right: 30px;
  box-sizing: border-box;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form p {
  position: relative;
}

.login-form p:first-child::after {
  content: "";

  background-image: url("../img/general/user.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 14px;
  right: 20px;
}

.login-form p:nth-child(2)::after {
  content: "";

  background-image: url("../img/general/lock.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 13px;
  height: 15px;
  position: absolute;
  top: 14px;
  right: 20px;
}

.login-checkbox {
  padding-left: 32px;

  position: relative;
  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  border-color: #663d15;
}

.login-checkbox input[type="checkbox"]+.checkbox-indicator {
  width: 20px;
  height: 20px;
  border: 2px solid #000101;

  position: absolute;
  left: 0px;
}

.login-checkbox input[type="checkbox"]:focus+.checkbox-indicator {
  border-color: #663d15;
  outline-width: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
  content: "";

  width: 18px;
  height: 2px;
  background-color: #000101;

  position: absolute;
  top: 9px;
  left: 1px;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before{
  content: "";
  
  transform: rotate(-45deg);
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after{
  content: "";
  
  transform: rotate(45deg);
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-form .button {
  display: block;
  width: 100%;
}

.modal-close {
  width: 19px;
  height: 19px;

  position: absolute;
  top: 0;
  right: -33px;

  background-color: transparent;

  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  width: 23px;
  height: 3px;

  background-color: #d0d0d0;

  position: absolute;
  top: 8px;
  left: -2px;
}

.modal-close::before {
  content: "";
  
  transform: rotate(45deg);
}

.modal-close::after {
  content: "";
  
  transform: rotate(-45deg);
}

.modal-map {
  top: 120px;
  
  margin: 0 auto;
  width: 766px;
  height: 560px;
  box-shadow: 0px 30px 50px 0 rgba(0, 1, 1, 0.75);
  border: 7px solid #ffffff;

  display: none;
}

.modal-map p {
  margin: 0;
}
